{% extends 'base.html.twig' %}

{% block body %}
    <h1>Repair_status</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ repair_status.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ repair_status.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('repair_status_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('repair_status_edit', { 'id': repair_status.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
