<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Service</title>
        
    </head>
    <body>
        <style type="text/css">
                .tg  {border-collapse:collapse;border-spacing:0;}
                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                .tg .tg-yw4l{vertical-align:top}
            </style>
        <div>
            <div>
                <h2>Dokument serwisowy</h2>
                Dane serwisowe:<br>
                John Smith<br>
                1234 Main<br>
                Apt. 4B<br>
                Springfield, ST 54321
                <h3>Nr reklamacji: {{machine.complaintNumber}}</h3>
            </div>
            
            <table class="tg">
  <tr>
    <th class="tg-yw4l" colspan="5">Machine Data:</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Client</td>
    <td class="tg-yw4l">Brand</td>
    <td class="tg-yw4l">Type</td>
    <td class="tg-yw4l">Model</td>
    <td class="tg-yw4l">Repair Date</td>
  </tr>
  <tr>
    <td class="tg-yw4l">{{machine.client}}</td>
    <td class="tg-yw4l">{{machine.brand}}</td>
    <td class="tg-yw4l">{{machine.type}}</td>
    <td class="tg-yw4l">{{machine.modelmachine}}</td>
    <td class="tg-yw4l">{{machine.repairDate|date('Y-m-d H:i:s')}}</td>
  </tr>
</table>

            <div>
                <div>
                    <h3><strong>Repair description:</strong></h3>
                </div>
                <div>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>{{machine.repairDescription}}</td>  
                                </tr>                        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><br><br>
        <hr><br><br><br>
        <div>
            <div>
                <h2>Dokument serwisowy</h2>
                Dane serwisowe:<br>
                John Smith<br>
                1234 Main<br>
                Apt. 4B<br>
                Springfield, ST 54321
                <h3>Nr reklamacji: {{machine.complaintNumber}}</h3>
            </div>
            
            <table class="tg">
  <tr>
    <th class="tg-yw4l" colspan="5">Machine Data:</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Client</td>
    <td class="tg-yw4l">Brand</td>
    <td class="tg-yw4l">Type</td>
    <td class="tg-yw4l">Model</td>
    <td class="tg-yw4l">Repair Date</td>
  </tr>
  <tr>
    <td class="tg-yw4l">{{machine.client}}</td>
    <td class="tg-yw4l">{{machine.brand}}</td>
    <td class="tg-yw4l">{{machine.type}}</td>
    <td class="tg-yw4l">{{machine.modelmachine}}</td>
    <td class="tg-yw4l">{{machine.repairDate|date('Y-m-d H:i:s')}}</td>
  </tr>
</table>

            <div>
                <div>
                    <h3><strong>Repair description:</strong></h3>
                </div>
                <div>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>{{machine.repairDescription}}</td>  
                                </tr>                        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
