{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-10">
    <h1>Modelmachines list</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for modelMachine in modelMachines %}
                    <tr>
                        <td><a href="{{ path('modelmachine_show', { 'id': modelMachine.id }) }}">{{ modelMachine.id }}</a></td>
                        <td>{{ modelMachine.name }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('modelmachine_show', { 'id': modelMachine.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('modelmachine_edit', { 'id': modelMachine.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <ul>
        <li>
            <a href="{{ path('modelmachine_new') }}">Create a new modelMachine</a>
        </li>
    </ul>
</div>
{% endblock %}
