{% extends 'base.html.twig' %}

{% block body %}
    <h1>Repair description</h1>
    {{ machine.client }}<br>
    reclamation number: {{ machine.complaintNumber }}<br>
    {{machine.type}}<br><br>
    {{ form_start(repair_form) }}
        {{ form_widget(repair_form) }}
        <input type="submit" formtarget="_blank" value="Add repair description and generate PDF" />
    {{ form_end(repair_form) }}
   
    <br>
    <br>

    <ul>
        <li>
            <a href="{{ path('machine_index_not_repaired') }}">Back to the not repaired machines</a>
        </li>
    </ul>
{% endblock %}
